{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-black text-center py-5">
    <div class="container d-flex align-items-center flex-column pt-5">
        <h2 class="text-white bg-warning px-3 py-1 rounded">
            PokéTrade
        </h2>
        <p class="text-white bg-warning px-3 py-2 rounded">
            Unlimited PokéFun with PokéFriends
        </p>
    </div>
</header>
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto text-center mb-3">
                <h4 class="text-warning">
                    Welcome to the best Pokémon trading app ever!!!!
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}