{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto mb-3">
                <h2>Marketplace</h2>
                <hr />
                <p>
                    Here is where you can buy and sell Pokémon
                </p>
            </div>
            <div class="col-md-6 mx-auto mb-3 text-center">
                <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}